header {
  background-color: #255538;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
img {
  height: 25px;
  padding-top: 18px;
  padding-left: 25px;
}

h2 {
  color: #7e4333;
}

body {
  background-color: #f3e5d8;
  font-family: arial;
}

#titulo {
  background-image: url(../imagenes/hero.jpg);

  text-align: center;
  display: flex;
  justify-content: center;
  color: #ffffff;
  border-radius: 5px;
  height: 150px;
  align-items: center;
}
#receta-1 {
  box-sizing: border-box;
  margin: 100px;
  background-color: whitesmoke;
  padding: 15px;
  padding-top: 1px;
}
#receta-2 {
  box-sizing: border-box;
  margin: 100px;
  background-color: whitesmoke;
  padding: 15px;
}
#receta-3 {
  box-sizing: border-box;
  margin: 100px;
  background-color: whitesmoke;
  padding: 15px;
}
thead {
  table-layout: fixed;
}
td {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-bottom: 1px solid #7e4333;
}
p {
  padding-right: 15px;
  font-size: 20px;
}
.caja_generica {
  width: 130px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px; 
  font-weight: 800;
  background-color: #255538;
  border-radius: 20%;
  margin: 0;
}
h4 {
  color: #ffffff;
}
#contenedor {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0;
}


@media (max-width: 600px) {
  header{
    width: 100%;
  }
  #titulo {
    display: none;
  }
  #contenedor {
    flex-direction: column;
    margin: 0%;
  }
  #receta_1{
    margin-top:10px;
  }
  .caja_generica{
    width: 100%;
  }
  #receta-1,
  #receta-2,
  #receta-3 {
    width:100%;
    margin:0%;
    margin-top: 10px;
  }
  h2{font-size: 40px;}
}